.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;
  }