.section_detail {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 2rem;
  margin-top: 3rem;
  padding: 5rem;
  color: $light-color;
}

.card-buttons {
  display: flex;
  align-items: center;
}

.card {
  position: relative;
  width: 400px;
  height: 450px;
  background: $light-color;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: $box-shadow;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: $light-color;
    transition: 0.5s;
    z-index: -1;
  }

  &:hover {
    &:before {
      transform: rotate(20deg);
      box-shadow: $box-shadow;
    }

    &:after {
      transform: rotate(10deg);
      box-shadow: $box-shadow;
    }
  }

  .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: $dark-color;
    transition: 0.5s;
    z-index: 1;
  }

  &:hover .imgBx {
    bottom: 80px;
  }

  .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;

    h2 {
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 25px;
      color: $dark-color;
      text-transform: uppercase;
    }
  }
}

.CustomCard-favorite {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: $primary-color;
  height: 50px;
  width: 50px;
  font-size: 4rem;
}


.section_detail {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 2rem;
  margin-top: 3rem;
  padding: 5rem;
  color: $light-color;
}

//responsive

@include mediaXl {
  .section_detail {
 
  }
}

@include mediaLg {
  .section_detail {

  }
}

@include mediaMd {
  .section_detail {
    margin-top: 400px;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }
}

//SMARTFHONES
@include mediaSm {
  .section_detail {
   
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }
}

