.section_detail {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 2rem;
    margin-top: 3rem;
    padding: 5rem;
    color: white;
  }

//   .box{
//     width: 1200px;
   
//   }
  .card{
    position: relative;
    width: 400px;
    height: 450px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 25px;
   color: #777;
   text-transform: uppercase;
  } 



.card-buttons{
  display: flex;
  align-items: center;
}



  .CustomCard-favorite{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: red;
    height: 50px;
    width: 50px;
    font-size: 4rem;
  }

//   .card .details h2 span{
//   font-weight: 500;
//   font-size: 22px;
//   color: #f38695;
//   display: block;
//   margin-top: 5px;
//    } 