
.filters-buttons {
  width: 90%;
  margin: auto;
}

.section_content {
  padding: 0 3rem;
  color: $light-color;
  h1 {
    text-align: center;
    padding-top: 2rem;
  }
}

//components
.Search {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 400px;
  width: 100%;

  &-input,
  &-select {
    border-radius: 0;
    height: 38px;
  }

  &-input {
    margin-right: 8px;
    margin-left: 8px;
   
  }
}

.testOpacity {
  height: 280px;
  position: relative;
}

.like-button {
  position: absolute;
  //para centrar
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.testOpacity:hover .contentOpacity {
  opacity: 1;
}
.testOpacitypq:hover .contentOpacity {
  opacity: 1;
}

.renderCreator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.HeaderSearchform {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 25%;
}
