
  .seccion_banner {
    background: #1b1f26;
    padding: 10px;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 180px 1fr;
    column-gap: 8px;
  
  }
  .wrapper_banner {
    padding: 0 40px;
  }
  
  .seccion_master {
    height: 476px;
    position: relative;
  }
  .seccion_master:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .seccion_masterpq {
    height: 234px;
    position: relative;
  }
  .seccion_masterpq:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .njss {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;
  }
  
  .img_Movie {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: center;
    border-radius: 5px;
  }
  
  .contentOpacity {
    opacity: 0;
    transition: 1s all;
  }
  .seccion_master:hover .contentOpacity {
    opacity: 1;
  }
  .seccion_masterpq:hover .contentOpacity {
    opacity: 1;
  }
  
  .title_opacity {
    color: white;
  }
  .title_master {
    color: white;
  }
  