@import "../../config";
.search-container {
  display: flex;
  position: relative;

  .close {
    position: absolute;
    right: 1em;
    top: 1em;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  }
}
.search-input {
  display: inline-flex;
  background: white;
  align-items: center;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  padding: 0 2rem;
  border-radius: 5px;
  flex: 1;
  .icon {
    margin-right: .5em;
    font-size: 1.5rem;
    color: $primary-color;
  }
  input {
    /* width: 100%; */
    flex: 1;
    border: none;
    height: 48px;
    line-height: 48px;
    font-size: 1.5em;
    color: $primary-color;
    outline: 0;
    /* color: var(--black);
    background: var(--white); */
    &::-webkit-input-placeholder {
      color: $primary-color;
    }
  }
}
