$primary-color: #B31200;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$max-width: 1100px;

//SET TEXT COLOR BASED ON BACKGROUND
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return #fff;
  }
}

//SET BACKGROUND & TEXT COLOR
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}



//To give margin & Padding
$spaceamounts: (1,2,3,4,5);
@each $space in $spaceamounts {
  //All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }
  //Vetical MArgin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem ;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }




  //All around Padding
  .p-#{$space} {
    padding: #{$space}rem;
  }
  //Vetical Padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
// MEDIA QUERY MIXINS responsive 

@mixin mediaSm {
  @media screen and (max-width:600px) {
      @content;
  }
  
}
@mixin mediaMd {
  @media screen and (min-width:800px)  and (max-width:979px){
      @content;
  }
  
}
@mixin mediaLg {
  @media screen and (min-width:980px) and (max-width:1170px) {
      @content;
  }
  
}
@mixin mediaXl {
  @media screen and (min-width:1171px) {
      @content;
  }
  
}