// WIDESCREEN

@include mediaXl {
  .profiles {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include mediaLg {
  .profiles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include mediaMd {
  .profiles {
    grid-template-columns: 1fr 1fr;
    // width: calc(100% - 40px);
    // box-sizing: border-box;
    // padding: 20px 20px 20px 0;
  }
}

//SMARTFHONES
@include mediaSm {
  .profiles {
    grid-template-columns: 1fr;
  }
}
