//partials
@import "utilities";
@import "config";
@import "animation";
@import "./components/Header/header.scss";
@import "./components/Carrousel/carrousel.scss";
@import "./components/CarrouselItem/CarrouselItem.scss";

//pages
@import "./pages/featured.scss";
@import "pages/charactersDetail.scss";

@import "mobile";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #1b1f26;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

ul {
  display: flex;
}
a {
  padding: 0.45rem;
  margin: 0 0.25rem;
  &:hover {
    color: $primary-color;
  }
}
//home
.landing {
  position: relative;
  background: url("../../images/banner.jpg") no-repeat center center/cover;
  height: 100vh;

  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: olivedrab;
  color: white;
  text-align: center;
  z-index: 100;
}

.profiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-bottom: 5rem;
}
.card-character {
  overflow: hidden;
  break-inside: avoid;
  cursor: pointer;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 0 0 5px 5px;
  transition: 1.5s all;
  img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .card-content {
    padding: 0 1rem;
  }
  &:hover {
    border: solid 1px white;
    border-top: none;
    color: $primary-color;
    img {
      opacity: 0.7;
    }
  }
}
.filters-buttons {
  width: 90%;
  margin: auto;
}

.section_content {
  padding: 0 3rem;
  color: white;
  h1 {
    text-align: center;
    padding-top: 2rem;
  }
}

.dropdown {
  width: 100%;
  font-size: 1rem;
  color: $primary-color;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  position: relative;
  background: $light-color;
}
.btn-toggle .fas {
  display: none;
}

.dropdown .fa-chevron-down {
  margin-left: 10px;
}
.dropdown ul {
  border-radius: 4px;
  /* background-color: background-el); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  display: none;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background: $light-color;
  width: 100%;
  z-index: 99;
}
.dropdown.open ul {
  display: block;
}
.dropdown ul li {
  margin: 10px 0;
}

.dropdown li:hover {
  opacity: 0.5;
}

//components
.Search {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 400px;
  width: 100%;

  &-input,
  &-select {
    border-radius: 0;
    height: 38px;
  }

  &-input {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.testOpacity {
  height: 280px;
  position: relative;
}

.like-button {
  position: absolute;
  //para centrar
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.testOpacity:hover .contentOpacity {
  opacity: 1;
}
.testOpacitypq:hover .contentOpacity {
  opacity: 1;
}
